@page "/host"
@using GriffinEstimator.Shared
@using Microsoft.AspNetCore.SignalR.Client
@layout HostLayout
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<PageTitle>Estimator</PageTitle>

@if (hubConnection.State != HubConnectionState.Connected)
{
    <h1>Welcome!</h1>
    <div>Please enter the secret key to create a session.</div>
    <div>
        <div class="col-3 mb-3">
            <label for="inputName" class="form-label">Key</label>
            <input type="password" class="form-control" id="inputName" @bind="secretKey">
        </div>
        <button type="button" class="btn btn-primary btn-lg" @onclick="Connect">Create Session</button>
    </div>
}
else if (hubConnection.State == HubConnectionState.Connected && string.IsNullOrWhiteSpace(sessionId))
{
    <h1>Creating Session...</h1>
}
else if (hubConnection.State == HubConnectionState.Connected && !string.IsNullOrWhiteSpace(sessionId))
{
    <div>
        @if (estimating)
        {
            <ResultsTable Result="result" ShowPoints="false" />
            <button type="button" class="btn btn-primary btn-lg mt-3" @onclick="EndRound">End Round</button>
            <button type="button" class="btn btn-danger btn-lg mt-3" @onclick="RestartRound">Restart Round</button>
        }
        else if (!estimating)
        {
            <ResultsTable Result="result" ShowPoints="true" />
            <button type="button" class="btn btn-primary btn-lg mt-3" @onclick="StartRound">Start Round</button>
        }
    </div>
}

<div>@error</div>

@code {
    private HubConnection hubConnection;

    private string sessionId;
    private string secretKey;
    private string error;
    private bool estimating;
    private EstimationResult result = new EstimationResult(new());

    [CascadingParameter]
    private HostLayout Layout { get; set; }

    protected override Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/pokerSessionHub"))
            .WithAutomaticReconnect(new RetryForeverPolicy())
            .Build();

        hubConnection.On("MemberJoined", (string name) =>
        {
            result.Estimates.Add(new MemberEstimate(name));
            StateHasChanged();
        });

        hubConnection.On("RoundStarted", () =>
        {
            estimating = true;
            StateHasChanged();
        });

        hubConnection.On("RoundEnded", (EstimationResult result) =>
        {
            this.result = result;
            estimating = false;
            StateHasChanged();
        });

        hubConnection.On("EstimateSubmitted", (string name) =>
        {
            var member = result.Estimates.FirstOrDefault(x => x.MemberName == name);
            if (member is not null)
            {
                member.Points = "Ok";
            }
            StateHasChanged();
        });

        return Task.CompletedTask;
    }

    private async Task Connect()
    {
        if (string.IsNullOrWhiteSpace(secretKey))
        {
            return;
        }

        await hubConnection.StartAsync();

        var result = await hubConnection.InvokeAsync<string>("StartSession", secretKey);

        if (result != "error")
        {
            sessionId = result;
            Layout.SetUri(@NavigationManager.ToAbsoluteUri($"/join/{sessionId}"));
        }
        else
        {
            error = result;
        }
    }

    private async Task StartRound()
    {
        if (result != null && result.Estimates.Any())
        {
            result.Estimates.ForEach(x => x.Points = null);
        }
        StateHasChanged();
        await hubConnection.SendAsync("StartRound", sessionId);
    }

    private async Task RestartRound()
    {
        if (result != null && result.Estimates.Any())
        {
            result.Estimates.ForEach(x => x.Points = null);
        }
        StateHasChanged();
        await hubConnection.SendAsync("RestartRound", sessionId);
    }

    private async Task EndRound()
    {
        await hubConnection.SendAsync("EndRound", sessionId);
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
